body {
    background-color:dimgray;
    font-family: Arial, Helvetica, sans-serif;
}

button#playAgainBTN {
    margin: 0px auto 0px auto;
    font-size: 16px;
    font-weight: bold;
}

p span#choice {
    font-size: 16px;
    font-weight: bold;
}

table.view {
    margin: 0px auto 0px auto;
    padding:5px;
    border: 1px solid black;
    border-spacing: 0px;
    border-radius: 3px;
    background-color: lightgray;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version */
}

table.scoreboard {
    margin: 0px auto 0px auto;
    padding:10px;
    border: 1px solid black;
    border-spacing: 0px;
    border-radius: 8px;
    background-color: lightblue;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version */
}

table#gameboard {
    line-height: 0px;
    font-size: 0px;
    margin: 0px auto 0px auto;
    padding:20px;
    border: 0px;
    border-spacing: 0px;
    border-radius: 13px;
    background-color: white;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version */
}
table#gameboard th p {
    margin: 0px;
    padding: 0px;
}
table#gameboard tr {
    line-height: 0px;
    font-size: 0px;
    margin: 0px;
    padding: 0px;
    border: 0px;
    border-spacing: 0px;
}
table#gameboard td {
    margin: 3px;
    padding: 0px;
    border: 0px;
    background-color: #ddd;
    display: inline-block;
    width: 150px;
    height: 150px;
}
table#gameboard td img {
  border: 0px;
  width: auto;
  height: auto;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-zoom: none;
}

table td p {
    margin: 0px;
}
    
