body {
    background-color:dimgray;
}

table#gameboard {
    border: 0px;
    /*border-spacing: 0px;
    border-collapse: collapse;*/
    border-radius: 5px;
    background-color: lightgray;
    margin: 0px auto 0px auto;
    padding-left: 6px;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version */
}
table#gameboard td {
    /**margin: 0px 2px 0px 2px;*/
    margin: 0px 4px 0px 0px;
    padding: 0px;
    display: inline-block;
}
img {
  width: 75px;
  height: auto;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
  user-drag: none;
}
