body {
    background-color:dimgray;
}

table#gameboard {
    border: 0px;
    border-spacing: 0px;
    border-collapse: collapse;
    background-color: lightgray;
    margin: 0px auto 0px auto;
    padding-left: 4px;
}
table#gameboard td {
    /**margin: 0px 2px 0px 2px;*/
    margin: 0px 4px 0px 0px;
    padding: 0px;
    display: inline-block;
}
